#boddy{
   
    /* background-image: url(' ');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    
}
body{
    background-color: rgb(247, 251, 252);
}